<section
  class="bg-bgDrAgua flex justify-center items-center gap-10 flex-col"
  style="
border-bottom: 1px solid var(--Border-Color, #13254F);
"
>
  <h1
    class="mt-20"
    style="color: #FFF;
text-align: center;
        font-size:
        36px;
        font-style:
        normal;
        font-weight:
        800;
        line-height:
        normal;"
  >
    Sobre Nosotros
  </h1>
  <h3
    style="color: var(--Paragraph-Color, #93A0BC);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;"
  >
    Un poco sobre lo que hacemos en <span class="italic">Dr. Agua</span> y nuestra
    misión.
  </h3>
  <div class="flex flex-col gap-4 mb-20">
    <div class="flex flex-row gap-4">
      <div
        class="flex-1"
        style="color: #FFF;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: inline-flex;
                    height: 75px;
                    padding: 25px 37px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    border: 1px solid var(--CardStroke-Color, #0B1B3C);
                    background: rgba(5, 17, 46, 0.50);"
      >
        1. Proveer acceso a agua limpia como un derecho humano fundamental.
      </div>
      <div
        class="flex"
        style="color: #FFF;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: inline-flex;
                    height: 75px;
                    padding: 25px 37px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    border: 1px solid var(--CardStroke-Color, #0B1B3C);
                    background: rgba(5, 17, 46, 0.50);"
      >
        2. Sistemas de tratamiento de agua de alta calidad a precios
        competitivos.
      </div>
    </div>
    <div class="flex flex-row gap-4">
      <div
        class="flex-1"
        style="color: #FFF;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: inline-flex;
                    height: 75px;
                    padding: 25px 37px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    border: 1px solid var(--CardStroke-Color, #0B1B3C);
                    background: rgba(5, 17, 46, 0.50);"
      >
        3. Entrega el mismo día en toda Florida gracias a nuestro gran
        inventario.
      </div>
      <div
        class="flex"
        style="color: #FFF;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: inline-flex;
                    height: 75px;
                    padding: 25px 37px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    border: 1px solid var(--CardStroke-Color, #0B1B3C);
                    background: rgba(5, 17, 46, 0.50);"
      >
        4. Ofrecemos más de 5000 productos para cubrir todas sus necesidades.
      </div>
    </div>
  </div>
</section>
