<section
  class="bg-bgDrAgua flex justify-center items-center gap-10 flex-col"
  style="
border-bottom: 1px solid var(--Border-Color, #13254F);
"
>
  <h1
    class="mt-20"
    style="color: #FFF;
text-align: center;
        font-size:
        36px;
        font-style:
        normal;
        font-weight:
        800;
        line-height:
        normal;"
  >
    Sobre Nosotros
  </h1>
  <h3
    style="color: var(--Paragraph-Color, #93A0BC);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;"
  >
    Un poco sobre lo que hacemos en <span class="italic">Dr. Agua</span> y nuestra
    misión.
  </h3>
  <div class="flex flex-col gap-4 mb-20">
    <div class="flex flex-row gap-4">
      <div
        class="flex-1 text-white"
        style="display: inline-flex;
  height: 75px;
  width: 590px;
  padding: 25px 47px 26px 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--CardStroke-Color, #0B1B3C);
  background: rgba(5, 17, 46, 0.50);"
      >
        1. Acceso garantizado a agua limpia para negocios y comunidades.
      </div>
      <div
        class="flex text-white"
        style="display: inline-flex;
  height: 75px;
  width: 610px;
  padding: 25px 47px 26px 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--CardStroke-Color, #0B1B3C);
  background: rgba(5, 17, 46, 0.50);"
      >
        2. Tratamiento de agua con tecnología avanzada a precios mayoristas.
      </div>
    </div>
    <div class="flex flex-row gap-4">
      <div
        class="flex-1 text-white"
        style="display: inline-flex;
  height: 75px;
  width: 590px;
  padding: 25px 47px 26px 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--CardStroke-Color, #0B1B3C);
  background: rgba(5, 17, 46, 0.50);"
      >
        3. Envío inmediato en toda Buenos Aires para grandes volúmenes.
      </div>
      <div
        class="flex text-white"
        style="display: inline-flex;
  height: 75px;
  width: 610px;
  padding: 25px 47px 26px 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--CardStroke-Color, #0B1B3C);
  background: rgba(5, 17, 46, 0.50);"
      >
        4. Más de 5000 productos listos para abastecer a su empresa.
      </div>
    </div>
  </div>
</section>
