---
import Mail from "./ui/Mail.astro";
import Phone from "./ui/Phone.astro";
import Pin from "./ui/Pin.astro";
import TresLineas from "../assets/tresLineas.png";
import WQ from "../assets/WQ.png";
---

<footer class="bg-bgDrAguaDark">
  <div class="flex flex-row">
    <div class="w-1/4"></div>
    <div class="flex flex-col gap-y-10 w-1/4 justify-center items-start pl-10">
      <div class="flex flex-col gap-y-4">
        <h1 class="text-[#F2F6FF] font-lato text-lg font-normal">CONTACTO</h1>
        <div class="flex flex-col gap-y-2">
          <div class="flex flex-row gap-2 items-center">
            <Mail class="text-[#93A0BC]" />
            <p class="text-[#93A0BC]">allforwater@gmail.com</p>
          </div>
          <div class="flex flex-row gap-2 items-center">
            <Phone class="text-[#93A0BC]" />
            <p class="text-[#93A0BC]">(954) 322-6666</p>
          </div>
          <div class="flex flex-row gap-2">
            <Pin class="text-[#93A0BC]" />
            <p class="text-[#93A0BC]">
              3146 John P. Curcie Dr.,<br /> Bay 8 Pembroke Park, FL 33009
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-y-4">
        <h1 class="text-[#F2F6FF] font-lato text-lg font-normal">
          HORARIOS DE OPERACIÓN
        </h1>
        <div class="flex flex-col gap-y-2">
          <p class="text-[#93A0BC]">
            Lunes a Jueves: 9:30 AM - 1:00 PM, 2:00 PM - 5:00 PM
          </p>
          <p class="text-[#93A0BC]">Viernes: 9:30 AM - 1:00 PM</p>
          <p class="text-[#93A0BC]">Sabado y Domingo: Cerrado</p>
        </div>
      </div>
      <div class="flex flex-row gap-5 items-center">
        <h2 class="text-[#93A0BC]">MIEMBRO</h2>
        <img src={TresLineas.src} alt="" />
        <img src={WQ.src} alt="" />
      </div>
    </div>
    <div class="w-1/4 flex flex-col gap-y-4 mt-[115px]">
      <h1 class="text-[#F2F6FF] font-lato text-lg font-normal items-start">
        PRODUCT CATEGORIES
      </h1>
      <div class="flex flex-row gap-4">
        <div class="flex flex-col gap-2">
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Marcas</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Aplicaciones</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Membranas</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Monitores y testers</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Accesorios</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Conectores</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Carcasas</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Cartuchos</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#"
            >Filtros de sedimentos de alto caudal</a
          >
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Portamembranas</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Membranas</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Tanques</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Tanques</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Tanques</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Resinas y medios de filtracion</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Valvulas fil</a>
        </div>
        <div class="flex flex-col gap-2">
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Marcas</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Aplicaciones</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Membranas</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Monitores y testers</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Accesorios</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Conectores</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Carcasas</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Cartuchos</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#"
            >Filtros de sedimentos de alto caudal</a
          >
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Portamembranas</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Membranas</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Tanques</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Tanques</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Tanques</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Resinas y medios de filtracion</a>
          <a class="text-[#93A0BC] hover:text-white transition-colors" href="#">Valvulas fil</a>
        </div>
      </div>
    </div>
    <div class="w-1/4"></div>
  </div>
  <div class="text-[#445A8B] flex justify-center items-center p-10">
    © 2023 All For Water. All Rights Reserved
  </div>
</footer>
