---
import Logo from "@assets/logo.png";
import Search from "@components/ui/Search";
import Menu from "@components/ui/Menu.astro";
---

<header
  class="bg-bgDrAgua flex justify-between items-center fixed top-0 w-full z-40"
  style="border-bottom: 1px solid var(--Border-Color, #13254F);
height: 70px;
flex-shrink: 0;"
>
  <a
  href="/"
    class="sm:px-10 px-2 text-white"
    style="display: inline-flex;
justify-content: center;
align-items: center;
gap: 10px;"
  >
    <img height="30" width="30" src={Logo.src} alt="Logo" loading="eager" />
    <h1 class="font-lato text-2xl font-bold">Dr. Agua</h1>
  </div>
  <div class="lg:flex hidden">
    <nav
      class="text-white mr-80"
      style="display: inline-flex;
justify-content: center;
align-items: center;
gap: 50px;"
    >
      <a
        class="hover:cursor-pointer hover:scale-125 transition-all duration-200"
        style="display: flex;

justify-content: center;
align-items: center;
color: var(--Pale-Color, #F2F6FF);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;"
        href="/">Inicio</a
      >
      <a
        class="hover:cursor-pointer hover:scale-125 transition-all duration-200"
        style="display: flex;
justify-content: center;
align-items: center;
color: var(--Pale-Color, #F2F6FF);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;"
        href="/categorias">Categorias</a
      >
      <a
        class="hover:cursor-pointer hover:scale-125 transition-all duration-200"
        style="display: flex;
justify-content: center;
align-items: center;
color: var(--Pale-Color, #F2F6FF);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;"
        href="/marcas">Marcas</a
      >
      <a
        class="hover:cursor-pointer hover:scale-125 transition-all duration-200"
        style="display: flex;
justify-content: center;
align-items: center;
color: var(--Pale-Color, #F2F6FF);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;"
        href="/contacto">Contacto</a
      >
    </nav>
  </div>
  <div class="lg:flex hidden">
    <Search client:load />
  </div>
  <div class="lg:hidden flex">
    <Menu />
  </div>
</header>
