---
import { marked } from "marked";
const { imgSrc, nombre, nombreUrl } = Astro.props;
---

<a
  href={`/productos/${nombreUrl}`}
  style="display: flex;
padding: 25px;
flex-direction: column;
align-items: center;
gap: 30px;
border-radius: 5px;
border-top: 1px solid #111E39;
border-right: 1px solid #111E39;
border-left: 1px solid #111E39;
background: #03102A;"
>
  <img
    class="w-full object-cover rounded-lg"
    style="
height: 200px;"
    src={imgSrc}
    alt=""
  />
  <h2
    class="text-center"
    style="color: var(--Paragraph-Color, #93A0BC);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 3.2px;"
  >
    {nombre}
  </h2>
</a>
